From: <Saved by Blink>
Snapshot-Content-Location: https://s.4cdn.org/css/tomorrow.699.css
Subject: 
Date: Wed, 17 Feb 2021 23:12:43 -0000
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--YPQja81Cw34jegJ6W3Vp4mBNje5hHakMgJogdtFG7O----"


------MultipartBoundary--YPQja81Cw34jegJ6W3Vp4mBNje5hHakMgJogdtFG7O----
Content-Type: text/html
Content-ID: <frame-55707E066B4884035020A5D917019F56@mhtml.blink>
Content-Transfer-Encoding: quoted-printable
Content-Location: https://s.4cdn.org/css/tomorrow.699.css

<html><head><meta http-equiv=3D"Content-Type" content=3D"text/html; charset=
=3Dwindows-1252"><link rel=3D"stylesheet" type=3D"text/css" href=3D"cid:css=
-3706f1ce-4b4e-4c1c-8f94-d6eba30a6a8c@mhtml.blink" /></head><body><pre styl=
e=3D"word-wrap: break-word; white-space: pre-wrap;">html{-moz-text-size-adj=
ust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{backg=
round:#1d1f21 none;color:#c5c8c6;font-family:arial,helvetica,sans-serif;fon=
t-size:10pt;margin-left:0;margin-right:0;margin-top:5px;padding-left:5px;pa=
dding-right:5px}.nwsb{display:none}.adg-rects{margin:10px 0;text-align:cent=
er}.adg,.adg-m{overflow:hidden}.adg-rep .adg{margin-left:15px}.adp-228{marg=
in:auto;width:728px;height:320px}.adp-90{margin:auto;width:728px;height:90p=
x}.adp-128{margin:auto;width:728px;height:128px}.adp-j{margin:auto;width:72=
8px;height:102px}.adp-50{margin:auto;width:320px;height:50px}.adp-250{margi=
n:auto;width:300px;height:250px}.adp-row{display:inline-block;margin:0 10px=
}.adl{font-size:10px}.adl+.ad-bgls,.ad-bgls+.adl{margin-top:8px}.bsa-cnt{ma=
rgin:20px 0;height:90px;text-align:center}@media only screen and (max-width=
:640px){.bsa-cnt{height:250px;display:flex;justify-content:center;align-ite=
ms:center}}.adc-resp{margin:auto;width:728px;height:228px;overflow:hidden}.=
adc-resp-bg{margin:auto;width:728px;height:112px;overflow:hidden}@media onl=
y screen and (max-width:480px){.adc-resp{width:300px;height:300px}.adc-resp=
-bg{width:300px;height:250px}}hr#op,#ctrl-top{clear:both}.party-hat{left:0;=
margin-top:-80px;position:absolute;pointer-events:none}.sjis,#quickReply .s=
jis{font-size:16px;line-height:17px;white-space:pre;font-family:ipamonapgot=
hic,mona,ms pgothic,monospace;overflow:auto;display:block;clear:left}.tex-l=
ogo{font-size:.8em}.tex-logo sub{font-size:.8em;text-transform:uppercase}.m=
u-s{font-weight:700}.mu-i{font-style:italic}.mu-r{color:#c41e3a}.mu-g{color=
:#00a550}.mu-b{color:#1d8dc4}.pu-lbl{color:#117743;font-weight:700;font-siz=
e:12px}.pu-img{vertical-align:middle;margin-top:-3px;margin-right:3px;displ=
ay:inline-block;width:16px;height:16px;background:url(//s.4cdn.org/image/mi=
nileaf.gif)}.n-pu{vertical-align:middle;display:inline-block;width:16px;hei=
ght:16px;margin-top:-2px;background:url(//s.4cdn.org/image/minileaf.gif)}.j=
la-it{height:420px;width:680px}.jla-it-p{font-size:.85em;text-align:center}=
.n-atb{border-radius:6px;padding:1px 4px;color:#353839}.atsb2018 table{marg=
in:auto;font-size:90%}.atsb2018 td{white-space:nowrap;padding:0 4px}.atsb20=
18 .atsgc{width:280px}.atsb2018 .atgg{height:20px}.n-atb-0{background-color=
:#f56fa1}.n-atb-1{background-color:#7b3f00;color:#f2f3f4}.n-atb-2{backgroun=
d-color:#fffdd0}.n-atb-3{background-color:#e4d00a}.n-atb-4{background-color=
:#50c878}.n-atb-0::after{content:'Team Peep'}.n-atb-1::after{content:'Team =
Chocolate'}.n-atb-2::after{content:'Team Creme'}.n-atb-3::after{content:'Te=
am Peanut Butter'}.n-atb-4::after{content:'Team Mini'}@media only screen an=
d (max-width:700px){.jla-it{width:340px;height:220px;margin:auto}.jla-it im=
g{width:340px;height:200px}}.centeredThreads .party-hat{left:12%}#disclaime=
r{font-size:14px;position:absolute;overflow:hidden;top:0;left:0;width:100%;=
height:100%;z-index:9998}#disclaimer-bg{position:fixed;top:0;left:0;width:1=
00%;height:100%;background-color:rgba(0,0,0,.25)}#disclaimer-modal{z-index:=
9999;width:320px;top:0;left:50%;margin-left:-170px;display:block;padding:10=
px;position:relative;background-color:#282a2e;box-shadow:0 0 5px rgba(0,0,0=
,.25)}#disclaimer ol{margin-left:20px;padding:0}#disclaimer li{margin:10px =
0}#disclaimer h3{border-bottom:1px solid #111;margin:0;padding-bottom:5px;t=
ext-align:center}#disclaimer-modal div{margin-top:10px;text-align:center}#d=
isclaimer-modal button{margin:0 10px}#disclaimer-accept{font-weight:700}#fo=
oter-links{margin-top:5px}.isMobileDevice blockquote.postMessage{font-size:=
11pt}.belowLeaderboard{width:728px;max-width:100%}.aboveMidAd{width:468px;m=
ax-width:100%}#postFormError{background-color:#e62020;color:#fff;font-famil=
y:monospace;font-size:13px;font-weight:700;padding:3px 5px;text-shadow:0 1p=
x rgba(0,0,0,.2);display:none;margin-top:3px}#postFormError a{color:#fff}.p=
ainter-ctrl input[type=3Dtext],#qr-painter-ctrl input[type=3Dtext]{width:30=
px!important;text-align:center}#qr-painter-ctrl .oe-r-cb{vertical-align:sub=
}#oe-canvas-preview{position:absolute;margin-left:5px;margin-top:3px;box-sh=
adow:0 0 1px 1px rgba(0,0,0,.25)}#captchaContainerAlt{height:80px}#captchaC=
ontainerAlt .recaptcha_image_cell{padding:0 0 5px!important}#captchaContain=
erAlt #recaptcha_table{border:0!important}#captchaContainerAlt #recaptcha_r=
esponse_field{width:300px!important;padding:0!important}#qrCaptchaContainer=
Alt #recaptcha_response_field{width:296px!important}#captchaContainerAlt #r=
ecaptcha_image,#qrCaptchaContainerAlt #recaptcha_image{border:0!important}#=
qrCaptchaContainerAlt .recaptcha_image_cell{padding:0!important}#qrCaptchaC=
ontainerAlt #recaptcha_table{border:0!important}#captchaContainerAlt td:nth=
-child(2),#captchaContainerAlt td:nth-child(3),#qrCaptchaContainerAlt td:nt=
h-child(2),#qrCaptchaContainerAlt td:nth-child(3){display:none!important}#q=
rCaptchaContainerAlt{height:80px;width:300px}.recaptchatable{background-col=
or:transparent!important;border:none!important}.recaptcha_image_cell{backgr=
ound-color:transparent!important}#g-recaptcha{height:78px}#recaptcha_div{he=
ight:107px;width:442px}#recaptcha_challenge_field{width:400px}.recaptcha_in=
put_area{padding:0!important}#recaptcha_table tr:first-child{height:auto!im=
portant}#recaptcha_table tr:first-child&gt;td:not(:first-child){padding:0 7=
px!important}#recaptcha_table tr:last-child td:last-child{padding-bottom:0!=
important}#recaptcha_table tr:last-child td:first-child{padding-left:0!impo=
rtant}#recaptcha_image{cursor:pointer}#recaptcha_response_field{width:292px=
;margin-right:0!important;font-size:10pt!important}input:-moz-placeholder{c=
olor:gray!important}#recaptcha_image{border:1px solid #aaa!important}#recap=
tcha_table tr&gt;td:last-child{display:none!important}#captchaContainer{wid=
th:343px;height:86px;line-height:99px;overflow:hidden}#captchaContainer .pl=
aceholder{font-style:italic;padding-left:5px}.mobile,.mobileinline,.mobilei=
b{display:none!important}a,a:visited{color:#81a2be!important;text-decoratio=
n:none}a.replylink:not(:hover),div#absbot a:not(:hover){color:#81a2be!impor=
tant}a:hover{color:#5f89ac!important}div#absbot{color:#c5c8c6;clear:both}di=
v.board&gt;hr{clear:both}img{border:none}img.topad,.topad&gt;div,.topad a i=
mg{width:728px;height:90px;max-width:100%;overflow:hidden;margin:auto}img.m=
iddlead,.middlead&gt;div,.middlead a img{width:468px;height:60px;max-width:=
100%;overflow:hidden;margin:auto}img.bottomad,.bottomad&gt;div,.bottomad a =
img{width:728px;height:90px;max-width:100%;overflow:hidden;margin:auto}hr{b=
order:none;border-top:1px solid #282a2e;height:0}hr.abovePostForm{width:90%=
}span.x-small{font-size:x-small}.mobile{display:none}ul.rules{margin:0;padd=
ing:0;margin-top:5px}ul.rules&gt;li{list-style:none;font-size:11px}.rules&g=
t;li:before{content:"\2022 \20"}div.boardBanner{text-align:center;clear:bot=
h}#bannerCnt{border:1px solid #000;margin:5px auto;width:300px;height:100px=
;max-width:100%}div.boardBanner&gt;div.boardTitle{font-family:Tahoma,sans-s=
erif;font-size:28px;font-weight:700;letter-spacing:-2px;margin-top:0}div.bo=
ardBanner&gt;div.boardSubtitle{font-size:x-small}div#boardNavDesktop{font-s=
ize:9pt;color:#c5c8c6;display:block}.hasDropDownNav #navtopright{display:no=
ne}#boardNavDesktop .pageJump{padding:0}#boardNavDesktop .pageJump a{paddin=
g-right:5px}div#boardNavDesktop a{font-weight:400;padding:1px;text-decorati=
on:none;color:#81a2be}div.pContainer{}div.opContainer{display:inline}div.si=
deArrows{color:#c5c8c6;float:left;margin-right:2px;margin-top:0;margin-left=
:2px}div.thread{margin:0;clear:both}div.post{margin:4px 0;overflow:hidden}d=
iv.thread&gt;div:nth-of-type(2)&gt;div.reply{margin-top:2px!important}div.o=
p{display:inline}div.reply{background-color:#282a2e;border:1px solid #282a2=
e;display:table;padding:2px}div.reply input{float:none}div.post div.postInf=
o{display:block;width:100%}.fileText{max-width:600px;white-space:nowrap}div=
.post div.postInfo span.postNum{}div.post div.postInfo span.postNum&gt;a{te=
xt-decoration:none;color:#c5c8c6!important}div.post div.postInfo span.postN=
um a:hover,.posteruid .hand:hover{color:#5f89ac!important}div.post div.post=
Info span.nameBlock{display:inline-block}div.post div.postInfo span.nameBlo=
ck span.name{color:#c5c8c6;font-weight:700}div.post div.postInfo span.nameB=
lock span.postertrip{color:#c5c8c6;font-weight:400!important}div.post div.p=
ostInfo span.date{}div.post div.postInfo span.time{}div.post div.postInfo s=
pan.subject{color:#b294bb;font-weight:700}div.post blockquote.postMessage{d=
isplay:block}blockquote&gt;span.quote{color:#b5bd68}.quoteLink,.quotelink,.=
deadlink{color:#5f89ac!important;text-decoration:underline}a.quoteLink:hove=
r,a.quotelink:hover{color:#81a2be!important}.is_arclist .belowLeaderboard{d=
isplay:none}#arc-list{max-width:80%;margin:10px auto 0}#arc-list td{text-al=
ign:center}#arc-list .teaser-col{text-align:left;word-break:break-all}#arc-=
list .quotelink{color:#34345c!important}#arc-list .quotelink:hover{color:#d=
00!important}#arc-sort{border-bottom:1px dotted;cursor:pointer}div.post div=
.file{display:block}div.post div.file div.fileInfo{margin-right:10px;word-b=
reak:break-all}div.replyContainer div.post div.file div.fileInfo{margin-lef=
t:20px}div.post div.file .fileThumb{float:left;margin-left:20px;margin-righ=
t:20px;margin-top:3px;margin-bottom:5px}span.fileThumb{margin-left:0!import=
ant;margin-right:5px!important}div.reply span.fileThumb,div.reply span.file=
Thumb img{float:none!important;margin-top:0!important;margin-bottom:0!impor=
tant}div.post div.file .fileThumb img{border:none;float:left}span.summary{c=
olor:#707070;margin-top:10px}div.postingMode{background-color:#282a2e;paddi=
ng:1px;text-align:center;color:#c5c8c6;font-weight:700;font-size:larger;mar=
gin-top:8px;border:1px solid #111}#verification table{border:none!important=
;margin:0}div.thread:last-child{padding-bottom:21px;margin-bottom:6px}div.p=
agelist{font-size:13px!important;margin:0;padding:3px 7px;float:left;border=
:none;background:#282a2e;border:1px solid #111;list-style:none;overflow:hid=
den;color:#c5c8c6}div.pagelist&gt;div{float:left}div.pagelist&gt;div span{p=
adding:4px;display:inline-block}div.pagelist div.pages{padding:4px}div.page=
list div.pages a{text-decoration:none!important}div.pagelist form{display:i=
nline}div.pagelist div.cataloglink{border-left:1px solid #111;padding-left:=
12px;margin-left:7px}.bottomCtrl{float:right;margin-top:2px}input[type=3Dpa=
ssword]{width:50px;text-align:center}div.deleteform input[type=3Dcheckbox]{=
margin:1px 2px}.stylechanger{margin-left:5px;font-size:10pt}div#boardNavDes=
ktopFoot{font-size:9pt;color:#c5c8c6;clear:both;padding-top:10px;padding-bo=
ttom:3px}div#boardNavDesktopFoot a{font-weight:400;padding:1px;text-decorat=
ion:none;color:#81a2be}div.homelink{float:right}div#absbot{text-align:cente=
r;font-size:x-small!important;padding-bottom:4px;padding-top:10px;color:#c5=
c8c6}#recaptcha_response_field{padding:0}table{border-spacing:1px;margin-le=
ft:auto;margin-right:auto}table.postForm&gt;tbody&gt;tr&gt;td:first-child{b=
ackground-color:#282a2e;color:#c5c8c6;font-weight:700;border:1px solid #111=
;padding:0 5px;font-size:10pt}tr.rules td{border:0!important;background-col=
or:transparent!important;font-weight:400!important}td{margin:0;padding:0;fo=
nt-size:10pt}input[type=3Dtext],table.postForm&gt;tbody textarea,input[type=
=3Dpassword],#recaptcha_response_field{margin:0;margin-right:2px;padding:2p=
x 4px 3px;border:1px solid #000;background-color:#282a2e;color:#c5c8c6;outl=
ine:none;font-family:arial,helvetica,sans-serif;font-size:10pt}input[type=
=3Dcheckbox],input[type=3Dsubmit],input[type=3Dfile],button{filter:brightne=
ss(80%)}input::placeholder{color:#919191}select{border:1px solid #575a60;ba=
ckground-color:#282a2e;color:#c5c8c6}#recaptcha_response_field:not(:focus){=
border:1px solid #aaa!important}input[type=3Dtext]:focus,input[type=3Dpassw=
ord]:focus,input:not([type]):focus,textarea:focus{border:1px solid #515151}=
table.postForm&gt;tbody&gt;tr&gt;td&gt;input[type=3Dtext]{width:244px}table=
.postForm&gt;tbody&gt;tr&gt;td&gt;input[name=3Dsubject]{width:300px}.postbl=
ock{background-color:#282a2e;color:#c5c8c6;font-weight:700;padding:0 5px;fo=
nt-size:10pt}div.closed{font-size:x-large;text-align:center;color:red;font-=
weight:700;padding-top:100px;padding-bottom:100px}.arc-ads{width:300px;marg=
in:30px auto -60px}.arc-ads::after{display:block;content:'';clear:both}.com=
mentpostername{font-weight:700}.identityIcon{margin-bottom:-3px;height:16px=
;width:16px}.stickyIcon{margin-bottom:-1px;padding-left:2px;height:16px;wid=
th:16px}.archivedIcon,.closedIcon{margin-bottom:-1px;margin-left:-1px;heigh=
t:16px;width:16px}.trashIcon{width:16px;height:16px;margin-bottom:-2px}.fil=
eDeleted{height:13px;width:172px}.fileDeletedRes{height:13px;width:127px}.n=
avSmall{font-size:90%}.center{text-align:center}.bold{font-weight:700}.smal=
ler{font-size:smaller}.password{font-size:smaller}.passNotice{font-size:sma=
ller;padding-left:6px}.qcDiv{display:none}.qcImg{height:1px;width:1px;borde=
r:0}.jpnFlag{height:11px;width:17px}.globalMessage{color:#c5c8c6;text-align=
:center}.highlightPost:not(.op){background:#3a171c!important;border-color:#=
3a171c!important}.hand{cursor:pointer}.reply:target,.reply.highlight{backgr=
ound:#1d1d21!important;border:1px solid #111!important;padding:2px}span.cap=
codeAdmin span.name,span.capcodeAdmin span.name a,span.capcodeAdmin span.po=
stertrip,span.capcodeAdmin strong.capcode{color:red!important}span.capcodeF=
ounder span.name,span.capcodeFounder span.name a,span.capcodeFounder span.p=
ostertrip,span.capcodeFounder strong.capcode{color:#117743!important}span.c=
apcodeMod span.name,span.capcodeMod span.name a,span.capcodeMod span.poster=
trip,span.capcodeMod strong.capcode{color:#81a2be!important}span.capcodeDev=
eloper span.name,span.capcodeDeveloper span.name a,span.capcodeDeveloper sp=
an.postertrip,span.capcodeDeveloper strong.capcode{color:#0000f0!important}=
span.capcodeManager span.name,span.capcodeManager span.name a,span.capcodeM=
anager span.postertrip,span.capcodeManager strong.capcode{color:#ff0080!imp=
ortant}span.capcodeVerified span.name,span.capcodeVerified span.name a,span=
.capcodeVerified span.postertrip,span.capcodeVerified strong.capcode{color:=
#007fff!important}#reportTypes a,.useremail{text-decoration:underline}.omit=
tedposts,.abbr{color:#707070}span.spoiler{color:#000!important;background:#=
000!important}span.spoiler:hover,span.spoiler:focus{color:#fff!important}s,=
s a:not(:hover){color:#000!important;background:#000!important;text-decorat=
ion:none}s:hover,s:focus,s:hover a{color:#fff!important}s:hover a{text-deco=
ration:underline}table.exif{display:none;min-width:450px}table.exif td{colo=
r:#999;min-width:150px;font-size:8pt}table.exif td b{text-decoration:underl=
ine}div.posthover{max-width:400px;margin-left:20px}div.posthover{padding:5p=
x;padding-left:10px;padding-right:10px}div.posthover a.fileThumb{margin-lef=
t:5px!important;margin-right:10px!important}div.posthover blockquote{margin=
:5px}div.posthover img[data-md5]{max-width:80px;max-height:80px;height:auto=
!important;width:auto!important}div.posthover div.fileThumb{margin-left:0!i=
mportant;margin-right:10px!important}#navtopright,#navbotright{float:right}=
.preview{background:#282a2e;border:1px solid #333!important}.qrWindow table=
.postForm&gt;tbody&gt;tr&gt;td:first-child{background-color:#232428}#settin=
gsBox{position:absolute;right:10px;margin-top:10px}div.backlink{font-size:x=
-small!important;padding-left:10px;padding-bottom:5px;padding-right:10px}.b=
acklink span{padding-right:5px}.backlinkHr hr{border-top-color:#1d1f21}.per=
sistentNav,div#boardNavMobile{padding:2px 4px;background-color:#282a2e;over=
flow:hidden;border-bottom:2px solid #111;position:fixed;top:0;left:0;right:=
0;font-size:12px;z-index:9001}div#boardNavMobile select,div#boardNavMobile =
option{font-size:11px}div.boardSelect{float:left}div.boardSelect&gt;strong{=
padding-right:5px}div.pageJump{float:right;padding-right:5px;padding-top:3p=
x}.pageJump a{text-decoration:none;padding-right:5px}div.qrWindow{position:=
absolute;z-index:8000}div.qrHeader{padding:2px;font-size:small;text-align:c=
enter}div.qrForm{padding:3px}span.qrButtonHolder{position:absolute;right:5p=
x;text-align:right;top:3px}span.qrButtonHolder a{text-decoration:none}span.=
qrButtonHolder img{cursor:pointer;margin-bottom:-1px;margin-top:1px}.extBut=
ton img{margin-top:3px;margin-bottom:-3px;margin-left:4px}.qrMessage{paddin=
g:2px;text-align:center}.op .backlinkHr{width:55%}.useremail:not(:hover) .n=
ame,.useremail:not(:hover) .postertrip{color:#81a2be!important}.useremail .=
name:hover,.useremail .postertrip:hover{color:#5f89ac!important}img.expande=
dImg{max-width:none!important;max-height:none!important}#captchaContainer&g=
t;img{float:left;border:1px solid #aaa;margin-bottom:1px}#captchaInfo{float=
:left;margin-left:5px;visibility:hidden}#captchaResponse{width:292px}.prett=
yprint{border:none!important;background-color:#fff;padding:5px!important;di=
splay:inline-block;max-height:400px;overflow-x:auto;max-width:600px;margin:=
0}.prettyprint{background-color:rgba(255,255,255,.1);border:1px solid rgba(=
0,0,0,.5)}span.tag{color:#5f89ac}span.pun{color:#72814d}span.com{color:#bb6=
793}span.str{color:#8ea062}span.kwd{color:#81a2be}span.typ{color:#b294bb}sp=
an.lit{color:#6e9b89}span.pln{color:#c5c8c6}#captchaContainer{overflow:hidd=
en}#captchaContainer&gt;img{float:left;border:1px solid #aaa;margin-bottom:=
1px}#captchaInfo{float:left;margin-left:5px;visibility:hidden}#captchaRespo=
nse{width:292px}.embed{position:absolute;width:0;height:0;overflow:hidden}t=
able.flashListing td.postblock{padding:5px;text-align:center}table.flashLis=
ting td{padding:2px;font-size:9pt}table.flashListing td:not(.subject){text-=
align:center}table.flashListing .name{color:#c5c8c6;font-weight:700}table.f=
lashListing .postertrip{color:#c5c8c6}table.flashListing .subject{color:#b2=
94bb;font-weight:700}table.flashListing tr:nth-of-type(odd){background-colo=
r:rgba(255,255,255,.1)}input[type=3Dtext],input[type=3Dpassword],textarea{-=
webkit-appearance:none;-webkit-border-radius:0}.countryFlag{padding-top:1px=
;margin-bottom:-1px}.deadlink{text-decoration:line-through}.oldpost{color:#=
c5c8c6;font-weight:700}#enable-mobile{font-size:small!important}#disable-mo=
bile{font-size:small!important}.mFileInfo{padding-top:5px;text-align:center=
;color:#707070!important;font-size:9pt!important;text-decoration:none!impor=
tant}.name-col,.file-col,table.flashListing .subject{max-width:250px;overfl=
ow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:break-word}.a=
d-plea{margin-top:2px;text-align:center;font-size:smaller}.ad-plea a{text-d=
ecoration:none}.fileText a{text-decoration:underline}#search-box{height:16p=
x;line-height:16px;margin-left:2px;padding:0 2px;width:120px}#blotter{width=
:468px;margin:auto}#blotter td{vertical-align:top;font-size:11px}.blotter-d=
ate{width:50px;text-align:center}#blotter tfoot{text-align:right}.redtxt{co=
lor:red}#blotter-msgs s{background-color:inherit!important;color:inherit!im=
portant;text-decoration:line-through}#postForm textarea{width:292px}#postFo=
rm{width:468px;display:none}#togglePostFormLink{font-size:22px;font-weight:=
700;text-align:center}.fileWebm:hover:before{background-color:rgba(0,0,0,.7=
5);color:#fff;font-weight:700;line-height:18px;padding:0 3px 0 2px;position=
:absolute;content:'webm';display:block;font-size:11px;text-decoration:none}=
.expandedWebm{margin:3px 20px 5px}#tooltip{position:absolute;background-col=
or:#000;font-size:11px;line-height:13px;padding:3px 6px;z-index:100000;word=
-wrap:break-word;white-space:pre-line;max-width:400px;color:#fff;text-align=
:center}.tip-top-left:before,.tip-top-right:before,.tip-top:before{content:=
"";display:block;width:0;height:0;position:absolute;border-left:4px solid t=
ransparent;border-right:4px solid transparent;border-top:4px solid #181f24;=
margin-left:-4px;bottom:-4px}.tip-top:before{left:50%}.tip-top-right:before=
{left:2px;margin-left:0}.tip-top-left:before{right:2px}#postFile{margin-rig=
ht:10px;width:200px}.dd-menu{position:absolute;font-size:12px;line-height:1=
.3em}.dd-menu a{text-decoration:none;color:inherit!important;display:block}=
.dd-menu ul{background-color:#282a2e;border:1px solid #000;border-bottom:no=
ne;list-style:none;padding:0;margin:0;white-space:nowrap}.dd-menu ul ul{dis=
play:none;position:absolute}.dd-menu li{cursor:pointer;position:relative;pa=
dding:2px 4px;vertical-align:middle;border-bottom:1px solid #000}.dd-menu l=
i:hover{background-color:#1d1f21}.dd-menu li:hover ul{display:block;left:10=
0%;margin-top:-3px}.dd-menu.dd-menu-left li:hover ul{left:auto;right:100%}#=
g-search-form{text-align:center}.g-search-ctrl{vertical-align:top;margin:0 =
3px}#js-sf-qf{width:185px;padding:2px 4px 3px}#js-sf-bf{padding:2px 4px 3px=
;width:125px}#js-sf-status{text-align:center;font-size:24px}.js-sf-err{colo=
r:#c41e3a}.boardBlock{font-weight:700}.blink{-webkit-animation:blink 1.5s s=
tep-end infinite;-moz-animation:blink 1.5s step-end infinite;-o-animation:b=
link 1.5s step-end infinite;animation:blink 1.5s step-end infinite}@-webkit=
-keyframes blink{50%{opacity:0}}@-moz-keyframes blink{50%{opacity:0}}@-o-ke=
yframes blink{50%{opacity:0}}@keyframes blink{50%{opacity:0}}</pre></body><=
/html>
------MultipartBoundary--YPQja81Cw34jegJ6W3Vp4mBNje5hHakMgJogdtFG7O----
Content-Type: text/css
Content-Transfer-Encoding: quoted-printable
Content-Location: cid:css-3706f1ce-4b4e-4c1c-8f94-d6eba30a6a8c@mhtml.blink

@charset "utf-8";
=0A
------MultipartBoundary--YPQja81Cw34jegJ6W3Vp4mBNje5hHakMgJogdtFG7O------
